header {
  height: 670px;
}

nav {
  margin-top: 10px;
}

.nav-content h1 {
  color: #439775;
  font-size: x-large;
}

.content p {
  text-align: justify;
}

.nav-content {
  display: flex;
  justify-content: space-around;
}

.nav-content ul {
  display: flex;
  list-style: none;
}

.nav-content a {
  text-decoration: none;
  color: #000;
}

.nav-content li {
  padding: 0 10px;
  font-weight: 600;
}

.content {
  display: flex;
  /* background-color: tomato; */
  margin-top: 100px;
  width: 100%;
}

.text {
  /* background-color: yellowgreen; */
  width: 500px;
  margin: 0 10px;
}

.text h3 {
  font-size: 60px;
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group button {
  border: none;
  margin: 30px 10px;
  color: #000;
  cursor: pointer;
  font-weight: bolde;
  background-color: transparent;
}

