.skills {
  margin-top: 25px;
  width: 100%;
  height: auto;
}

.skills h3 {
  font-size: 50px;
  text-align: center;
}

.skills ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.skills li {
  margin: 0 10px;
}

.info {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.info p {
  /* background-color: rebeccapurple; */
  margin-top: 40px;
  width: 600px;
  text-align: justify;
}